/node_modules
# // test
#ignore bundle
/public/app.js
# ignore my csv files
/database/productIds.csv
/database/reviews.csv
# ignore newrelic

/newrelic_agent.log
/newrelic.js
/newrelic.js:Zone.Identifier
